@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
}
:root {
    --bg-color: #000000;
    --second-bg-color: #121212ea;
    --text-color: #fff;
    --main-color: #ff0055;
}
html {
    font-size: 65.2%;
}
body {
    background: var(--bg-color);
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}
html::-webkit-scrollbar {
    width: 0.8rem;
}
html::-webkit-scrollbar-track {
    background: var(--bg-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(0,0,0, 0.7);
    filter: drop-shadow(10px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo span{
    color: white;
}
.logo {
    font-size: 3rem;
    color: var(--main-color);
    font-weight: 800;
    cursor: pointer;
    transition:  0.5s ease;
}
.logo :hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--main-color);
}
.logo span :hover {
    transform: scale(1.1);
    text-shadow: 0 0 25px var(--main-color);
}
.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.1s ease;
    
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color) ;
    border-bottom: 3px solid var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}
@media (max-width:995px) {
    #menu-icon {
        display:block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 6;
        width: 40%;
        border-left: 3px solid var(--main-color);
        border-bottom: 3px solid var(--main-color);
        border-bottom-left-radius: 2rem;
        padding: 1rem 3%;
        background-color: var(--second-bg-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.7);
        display: none;
    }
    .navbar .active {
        display: 2rem;
    }
    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .navbar a:hover,
.navbar a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem;
}
}
section {
    min-height: 100px;
    padding: 5rem 9% 5rem;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: var(--bg-color);
}
/* ===== รูป IMG =====*/
.home-img img {
    position: relative;
    top: 5vw;
    right: 50px;
    width: 30vw;
    border-radius: 50%;
    box-shadow: #000000 0px 0px 0px 10px, #ff0055 0px 0px 10px 15px;
    cursor: pointer;
}
.home-img img:hover{
    box-shadow: #000000 0px 0px 0px 10px, #ff0055 0px 0px 30px 15px;
    transform: scale(1.01);
}
/* ===== รูป IMG =====*/

/* ===== text ===== */
.home-content{
    position: relative;
    top: 50px;
    left: 20px;
}
.home-content .typing-text {
    font-size: 3.5rem;
}
.home .home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-content span {
    color: var(--main-color);
}
.home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p {
    font-size: 2em;
    font-weight: 400;
}
/* ===== text ===== */

.social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.1rem solid var(--main-color);

    font-size: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    
}
.social-icon a:hover {
    color: black;
    transform: scale(1.3)translateY(-5px);
    box-shadow: 0 0 20px var(--main-color);
    background: var(--main-color);
}
.classhome-button {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
    position: relative;
    right: 10px;
} 
.button {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 1em 2em;
    border: medium solid var(--main-color);
    border-radius: 0.25em;
    color: var(--main-color);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}
.button p {
    z-index: 1;
}
.button:hover {
    color: white;
}
button:active {
    border-color: var(--main-color);    
}
.button::after, .button::before {
    content:'';
    position: absolute;
    width: 10em;
    aspect-ratio: 1;
    background: var(--main-color);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}
.button2::after, .button2::before {
    content:'';
    position: absolute;
    width: 15em;
    aspect-ratio: 1;
    background: var(--main-color);
    opacity: 60%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}
.button::before {
    left: 0;
    transform: translateX(-8em);
}
.button::after { 
    right: 0;
    transform: translateX(8em);
}
.button2::before {
    left: 0;
    transform: translateX(-12em);
}
.button2::after { 
    right: 0;
    transform: translateX(12em);
}
.button:hover::after{
    transform: translateX(-1em);
}
.button:hover::before{
    transform: translateX(1em);
}
.button2:hover::after{
    transform: translateX(-2em);
}
.button2:hover::before{
    transform: translateX(2em);
}

.button:active::before,
.button:active::after {
    background: transparent;
}
.button2:active::before,
.button:active::after {
    background: transparent;
}
@media (max-width: 1000px){
    .home {
        gap: 2rem;
    }
    @media (max-width:995px) {
        .home { 
            flex-direction: column;
            margin: 0rem 2rem;
        }
        .home .home-content h3 {
            font-size: 2.5rem;
        }
        .home .home-content h1 {
            font-size: 5rem;
        }
        .home .home-img img {
            width: 70vw;
            margin-top: 4rem;
            margin-left: 6rem;
        }
    }
}
.learning {
    background: var(--bg-color);
    position: relative;
    top: 20rem;

}
.learning .heading {
    text-align: center;
    font-size: 5rem;
}
.learning .learning-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.learning .single-learning {
    position: relative;
    margin-top: 30px;
    background-color: rgb(22, 22, 22);
    border-radius: 10px;
    padding: 50px 40px;
    overflow: hidden;
    
}
.learning .single-learning .content {
    position: relative;
    z-index: 20;
}
.learning .single-learning .ititle {
    font-size: 2.7rem;
    position: relative;
    top: 2px;
}
.learning .single-learning .description {
    font-size: 1.5rem;
    position: relative;
    top: 5px;
}
.learning .single-learning  .lear-more {
    font-size: 1.2rem;
    color: #ffffff;
    position: relative;
    top: 25px
}
.learning .learning-container .icon {
    position: relative;
    bottom: 25px;
}
.learning .single-learning:hover {
    color: rgb(255, 255, 255);
    transform: scale(1)translateY(-5px);
    box-shadow: 0 0 20px var(--main-color);
    background: var(--main-color);
}

@media (max-width:991px) {
    section{
        padding: 10rem 3% 2rem;
    }
    .learning{
        padding-bottom:7rem;
    }
}
@media (max-width:895px) {
    .learning .learning-container {
        grid-template-columns: repeat(1,1fr);
    }
}

/*--------------skill---------------*/
.skills{
    position: relative;
    top:20rem;
}
.skills .heading {
    color: var(--text-color);
    font-size: 5rem;
    text-align: center;
}
.skills .info img{
    position: relative;
    width:80px;
}
.skills .info span {
    text-align: center;
    font-size: 18px;
}
.skills .container {
    background: black;
    color: var(--text-color);
    border-radius: 1rem;
    padding: 3rem;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}
.skills .container .row {
    display: flex;
    grid-template-columns: (4,1fr);
    flex-wrap: wrap;
    gap:2rem;
    justify-content: center;
}
.skills .container .bar {
    margin-bottom: 15px;
    padding: 1px;
    width: 20rem;
    height: 13rem;
    border-radius: 1rem;
    background: var(--second-bg-color);
    transition: 0.3s ease;
    cursor: pointer;
}
.skills .container .bar:hover {
    box-shadow:  0 1px 10px 7px var(--main-color);
    transform: scale(1.03);
}
.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top:1rem;
    
}

.skill .container .bar .info span {
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem ;
}

@media screen and (max-width:600px) {
    .skill .container {
        margin: 0;
        padding: 0;
    }
    .skills .container .row {
        grid-template-columns: repeat(2,1fr);
        margin: 1rem;
        padding: 2rem 0.2rem 2rem 0.2rem;
        gap:1rem;
    }
}
.photo {
    position: relative;
    top: 30rem;
    color: var(--text-color);
    font-size: 3rem;
    text-align: center;
    z-index: 1;
}
.certificate {
    position: relative;
    top: 19rem;
    display: flex;
  padding: 0 35px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
}
.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background:var(--main-color);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: rgba(255, 0, 0, 0.678);
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
  }
  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
  }
  .carousel img:first-child{
    margin-left: 0px;
  }
  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }